**What is Python?**
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

**What can Python do?**
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

**Why Python?**
Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
Python has a simple syntax similar to the English language.
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.

Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
Python can be treated in a procedural way, an object-oriented way or a functional way.
Good to know

The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.
Python Syntax compared to other programming languages
Python was designed for readability, and has some similarities to the English language with influence from mathematics.

Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.
Example
print("Hello, World!")

In [1]:
print("Hello Ganesh")

Hello Ganesh

# Python Variables:

**Creating Variables**
Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [2]:
x = 'Ganesh'
y = '20'
print(x)
print(y)

Ganesh
20

***Variable Names***
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [3]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-3-a23a3e8b2732>, line 10)

**Assign Value to Multiple Variables**:

Python allows you to assign values to multiple variables in one line:

In [4]:
x,y,z = 'Ganesh','Laxman','Kasturi'
print(x)
print(y)
print(z)

Ganesh
Laxman
Kasturi

In [5]:
# And you can assign the same value to multiple variables in one line:
x = y = z = 'Ganesh'
print(x)
print(y)

Ganesh
Ganesh

**Output Variables**:

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [6]:
x = 'Ganesh kasturi'
print("Coding skills of " + x)

Coding skills of Ganesh kasturi

In [8]:
# You can also use the + character to add a variable to another variable:
x = 'Ganesh '
y = 'Python love u'
z = x+y
print(z)

Ganesh Python love u

**Global Variables**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [9]:
# Create a variable outside of a function, and use it inside the function
x = 'Ganesh'
def myfunc():
    print('My name  is ' + x)
myfunc()

My name  is Ganesh

In [10]:
# If you create a variable with the same name inside a function, this variable will be local,
# and can only be used inside the function. 
# The global variable with the same name will remain as it was, global and with the original value.
x= 'Ganesh'

def myfunc():
    x = 'Ganesh Kasturi'
    print("My name is "+ x)
    
myfunc()

print(x)

My name is Ganesh Kasturi
Ganesh

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [11]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
    global x
    x = 'Ganesh kasturi'
    
myfunc()

print("My name is "+ x)

My name is Ganesh kasturi

In [12]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x= 'Ganesh'
def myfunc():
    global x
    x = 'Kasturi'
myfunc()

print('My surname is ' + x)

My surname is Kasturi

 # Built-in Data Types
- In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [13]:
# You can get the data type of any object by using the type() function:
x = 'Ganesh'
print(type(x))

<class 'str'>

In [14]:
x = 12.3265
print(type(x))

<class 'float'>

In [16]:
a = 125e+565
print(type(a))

<class 'float'>

**Python Numbers**

There are three numeric types in Python:

- int
- float
- complex


Variables of numeric types are created when you assign a value to them:

In [18]:
x = 1 # Number
y = 2.8 # Float
z = 2j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [19]:
x = 1
y = 66565666266
z = -565
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [20]:
x = 1.10
y = 1.0
z = -56.2
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [22]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [23]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [26]:
import random
print(random.randrange(1,10))

4

# Python Casting

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [29]:
# Int
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(type(z))

<class 'int'>

In [34]:
# Float:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(type(w))

<class 'float'>

In [35]:
# String
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(type(z))

<class 'str'>

# Python Strings: 

**String Literals**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [36]:
print('Ganesh')
print("Ganesh Kasturi")

Ganesh
Ganesh Kasturi

In [37]:
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string:
a = 'Ganesh kasturi'
print(a)

Ganesh kasturi

In [38]:
# You can assign a multiline string to a variable by using three quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [42]:
a = 'Ganesh kasturi'
print(a[0])

G

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [43]:
b = 'Hello Ganesh'

print(b[6:12])

Ganesh

In [44]:
# Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [45]:
# The len() function returns the length of a string:
a = 'Ganeshkasturi'
print(len(a))

13

In [46]:
# The strip() method removes any whitespace from the beginning or the end:
a = ' Hello,  Ganesh  '
print(a.strip())

Hello,  Ganesh

In [47]:
# The lower() method returns the string in lower case:
b = 'HeLLO GaNesh'
print(b.lower())

hello ganesh

In [48]:
# The upper() method returns the string in upper case:
c = 'hello ganesh'
print(c.upper())

HELLO GANESH

In [49]:
# The replace() method replaces a string with another string:
a = "Ganesh Hello"
print(a.replace("Hello","Kasturi"))

Ganesh Kasturi

In [50]:
# The split() method splits the string into substrings if it finds instances of the separator:
a = 'Hello,Real,World,Ganeshkasturi'
print(a.split(','))

['Hello', 'Real', 'World', 'Ganeshkasturi']

In [52]:
# To check if a certain phrase or character is present in a string, we can use the keywords in or not in.
txt = 'The split() method splits the string into substrings if it finds instances of the separator:'
x = 'if' in txt
y = 'Ganesh' in txt
print(y)
print(x)

False
True

In [54]:
# String Concatenation
x = 'Ganesh '
y = 'Kasturi '
z = x+y
print(z)

Ganesh Kasturi

The **format()** method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [55]:
# Use the format() method to insert numbers into strings:
age = 22
txt = "My name is Ganesh,and I am {} years old"
print(txt.format(age))

My name is Ganesh,and I am 22 years old

In [57]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [58]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [60]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [61]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [62]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [63]:
# Upper case the first letter in this sentence:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print(x)

Hello, and welcome to my world.

In [64]:
# Make the string lower case:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [65]:
# Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [66]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [67]:
# Return the number of times the value "apple" appears in the string:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [68]:
# UTF-8 encode the string:


txt = "My name is Ganesh"

x = txt.encode()

print(x)

b'My name is Ganesh'

In [69]:
# Check if the string ends with a punctuation sign (.):
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [71]:
# Set the tab size to 2 whitespaces:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [72]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [73]:
# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [74]:
# Using different placeholder values:
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)

In [75]:
# Check if all the characters in the text are alphanumeric:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [76]:
# Check if all the characters in the text are letters:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [77]:
# Check if all the characters in the unicode object are decimals:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

# Python Booleans : 
**Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [78]:
print(10>9)
print(10 == 9)
print(10 < 9)

True
False
False

In [79]:
# Print a message based on whether the condition is True or False:
a = 200
b = 33
if b > a:
    print("b is greater than a ")
else:
    print("b is not greater than a")

b is not greater than a

In [80]:
# Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [81]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [82]:
# You can create functions that returns a Boolean Value:
def myFunction() :
  return True

print(myFunction())

True

In [83]:
# Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [84]:
# Check if an object is an integer or not:

x = 200
print(isinstance(x,int))

True

# Operators are used to perform operations on variables and values.

**Python divides the operators in the following groups**:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [85]:
# Addition
x = 5
y = 3

print(x + y)

8

In [86]:
# Subtraction
x = 5
y = 3

print(x - y)

2

In [87]:
# Multiplication
x = 5
y = 3

print(x * y)

15

In [88]:
# Division
x = 12
y = 3

print(x / y)

4.0

In [89]:
# Modulus
x = 5
y = 2

print(x % y)

1

In [90]:
# Exponentiation
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [91]:
# Floor division	
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

In [92]:
# Python Comparison Operators
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [93]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [94]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [95]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [96]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [97]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

In [98]:
# Python Logical Operators

# and : Returns True if both statements are true
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [99]:
# or : Returns True if one of the statements is true

x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [100]:
# not	: Reverse the result, returns False if the result is true
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [101]:
# Python Identity Operators

# is 	: Returns True if both variables are the same object.
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [102]:
# is not	: Returns True if both variables are not the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [103]:
# Python Membership Operators
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [104]:
# not in	:Returns True if a sequence with the specified value is not present in the object
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Collections (Arrays):

***There are four collection data types in the Python programming language:***

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered and unindexed. No duplicate members.
- **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

In [105]:
# List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [106]:
# You access the list items by referring to the index number:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [107]:
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [108]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [109]:
# This example returns the items from the beginning to "orange":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [110]:
# This example returns the items from "cherry" and to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [111]:
# This example returns the items from index -4 (included) to index -1 (excluded)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [112]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = 'Ganesh'
print(thislist)

['apple', 'Ganesh', 'cherry']

In [113]:
# Print all items in the list, one by one: FOR LOOP
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [114]:
# To determine if a specified item is present in a list use the in keyword:
thislist = ["apple", "banana", "cherry"]
if 'apple' in thislist:
    print('Yes ,Apple is present')

Yes ,Apple is present

In [115]:
# Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [116]:
# To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [117]:
# To add an item at the specified index, use the insert() method:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [118]:
# The remove() method removes the specified item:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [119]:
# The pop() method removes the specified index, (or the last item if index is not specified):
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [120]:
# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [121]:
# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [122]:
# Join two list:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [123]:
# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [124]:
# Reverse the order of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [125]:
fruits

['cherry', 'banana', 'apple']

# Tuple
A tuple is a collection which is ordered and **unchangeable**. In Python tuples are written with round brackets.

In [127]:
# Create a Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Set
A set is a collection which is **unordered** and **unindexed**. In Python, sets are written with curly brackets.

In [128]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [129]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [130]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [131]:
# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [132]:
# Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'cherry', 'mango', 'banana', 'orange', 'grapes'}

In [133]:
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 'c', 3, 'a'}

In [134]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 'c', 3, 'a'}

# Dictionary
A dictionary is a collection which is **unordered, changeable and indexed**. In Python dictionaries are written with curly brackets, and they have keys and values.

In [135]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [136]:
x = thisdict["model"]

In [137]:
x = thisdict.get("model")

In [138]:
# Change the "year" to 2018:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [139]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [140]:
# Print all key names in the dictionary, one by one:
for x in thisdict:
    print(x)

brand
model
year

In [141]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [142]:
# You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [143]:
# Loop through both keys and values, by using the items() method:
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 2018

In [144]:
# Check if "model" is present in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [145]:
# To determine how many items (key-value pairs) a dictionary has, use the len() function.

print(len(thisdict))

3

In [146]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [147]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [148]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [149]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [151]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [153]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [154]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [155]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}